body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background: #fffdf5;
}

/* 컨테이너 */
.container {
  max-width: 900px;
  margin: auto;
  padding: 15px;
}

/* 로고 */
.title-wrapper {
  text-align: center;
  margin: 20px 0;
}

.title-logo {
  width: 220px;
}

/* 검색 */
#searchInput {
  display: block;
  margin: 0 auto 20px;
  padding: 12px;
  width: 260px;
  border-radius: 999px;
  border: 1px solid #eee;
}

/* 버튼 */
.controls, .tags {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

button {
  padding: 8px 14px;
  border-radius: 999px;
  border: 1px solid #eee;
  background: white;
}

button:hover {
  background: #fce883;
  color: white;
}

button.active {
  background: #fce883;
  color: white;
}

/* 카드 */
table {
  width: 100%;
  border-spacing: 0 10px;
}

tr {
  background: white;
  box-shadow: 0 4px 10px rgba(255, 236, 23, 0.874);
  border-radius: 10px;
}

td {
  padding: 12px;
}

td:last-child {
  text-align: right;
}

td a {
  background: #fce883;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}

/* ⭐ */
td button {
  border: none;
  background: none;
  font-size: 18px;
}

/* ===== 모바일 카드 변환 ===== */
@media (max-width:600px) {

  table, tbody, tr, td {
    display: block;
    width: 100%;
  }

  tr {
    margin-bottom: 15px;
    padding: 12px;
  }

  td {
    display: flex;
    justify-content: space-between;
  }

  td:nth-child(2)::before { content: "가수"; }
  td:nth-child(3)::before { content: "날짜"; }
  td:nth-child(4)::before { content: "태그"; }

  td::before {
    color: #fff04eec;
    font-size: 12px;
  }

}

/* 하단 탭바 */
.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  border-top: 1px solid #eee;
  display: flex;
}

.bottom-nav button {
  flex: 1;
  padding: 12px;
  border: none;
}